/* @import "ReactParallaxTilt.scss"; */

.parallax-effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  /* background-color: darkgreen; */
  color: white;
  border-radius: 20px;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.parallax-effect .inner-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 35px; */
  /* font-style: italic; */
  transform-style: translateZ(150px);
}

.card {
  font-size: 164px;
  width: 300px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  transform-origin: 10% 60%;
}

.card-container {
  overflow: hidden;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin-bottom: -120px;
}

.splash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 50%;
  clip-path: path(
    "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
  );
}

/* @media (max-width: 416px) {
  .card-container {
    width: 28rem;
  }
} */
@media (max-width: 500px) {
  .card-container {
    width: 80vw;
  }
}

/* @media (max-width: 260px) {
  .card-container {
    width: 15rem;
  }
} */
