@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eater&family=Fasthand&family=Mogra&family=Piedra&family=Ribeye&family=Ruslan+Display&family=Slackey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap");
.heading {
  /* font-family: "Dancing Script", cursive; */
  /* font-family: "Oleo Script", cursive; */
  /* font-family: "Mouse Memoirs", sans-serif; */
  /* font-family: "Eater", cursive; */
  /* font-family: "Fasthand", cursive; */
  /* font-family: "Mogra", cursive; */
  /* font-family: "Piedra", cursive; */
  /* font-family: "Ribeye", cursive; */
  /* font-family: "Ruslan Display", cursive; */
  font-family: "Slackey", cursive;
  color: lightblue;
}
.headingName {
  font-family: "Shadows Into Light", cursive;
  font-style: italic;
  font-weight: 700;
}
.time {
  /* font-family: "Ribeye", cursive; */
  /* font-weight: 700; */
  /* font-size: x-large; */
  font-family: "Lora", serif;
}

.animate__animated.animate__hinge {
  --animate-duration: 3s;
}

.fancy-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.fancy-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
  border-radius: 16px;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.952);
}

/* Add vendor prefixes for other browsers if needed */
.fancy-scrollbar::-moz-scrollbar {
  width: 8px;
}

.label-tag {
  border: 2px solid #06152b;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(6, 21, 43, 0.4) !important;
  flex-direction: column;
  font-weight: 600;
}
