@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Sigmar&family=The+Nautigal:wght@700&family=Yatra+One&display=swap");

.info {
  font-family: "Kalam", cursive;
  font-family: "Sigmar", cursive;
  font-family: "The Nautigal", cursive;
  font-family: "Yatra One", cursive;
}
#root {
  background-image: "../assets/Background/bg-2.jpg";
}
.carousel-image {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
.background {
  /* background-image: url("./assets/Background/bg-11.jpg");
  background-size: cover;
  background-position: center; */
  background-image: linear-gradient(to bottom right, #0b0361, #460221);
}
.active {
  color: red;
}
