@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Sigmar&family=The+Nautigal:wght@700&family=Yatra+One&display=swap");

.info {
  font-family: "Kalam", cursive;
  font-family: "Sigmar", cursive;
  font-family: "The Nautigal", cursive;
  font-family: "Yatra One", cursive;
}

.background {
  /* background-image: url("./assets/Background/bg-11.jpg");
  background-size: cover;
  background-position: center; */
  /* background-image: linear-gradient(to bottom right, #0b0361, #460221); */
  /* position: fixed; */
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1000; */
  background-image: linear-gradient(
    168deg,
    #111113 0%,
    #200363 26%,
    #050807 100%
  );
}
.active {
  color: red;
}
.App {
  height: 100%;
}

/* .quote {
  background-image: url(../src/assets/quoteimg.jpeg);
} */

.curved-div {
  /* position: relative; */
  background: #044f66;
  color: #fff;

  text-align: center;
  /* overflow: hidden; */
}
.curved-div svg {
  /* display: block; */
}
.upper {
  background: transparent;
}
.curved-div h1 {
  font-size: 6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 0rem;
}
.curved-div p {
  font-size: 1rem;
  margin: 0 5rem 0rem 5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.lower svg {
  /* background-color: transparent; */
}
